body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 40px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f5f9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selesai {
  text-decoration: line-through;
  color: gray;
}

.btn {
  width: auto;
  margin-left: 5px;
  padding: 6px 10px;
  font-size: 14px;
}
